:root {
    --primary-color: #555555;
    --secondary-color: #ffffff;
    --tertiary-color: #d6d6d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* header */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: static;
    position: -webkit-sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 25px;
    font-weight: lighter;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

header nav ul li a:hover {
    border-bottom: 2px solid var(--tertiary-color);
}
/* end header */

/* hero start */
.hero {
    padding: 150px 0 200px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero h2 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 20px;
    font-style: italic;
    font-size: 100px;
    text-shadow: 0 0 15px rgba(255, 255, 255, .5);
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 90px;
}

.selfie {
    padding-left: 20px;
}

.selfie img {
    position: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    border-radius: 50%;
}
/* hero end */

/* all sections */
.section-title {
    color: var(--primary-color);
    font-weight: bolder;
    margin: 30px;
    font-size: 48px;
    text-align: right;
    border-right: 4px solid var(--secondary-color);
    padding: 20px 40px 20px 0;
}

.intro, .github-work, .contact-info {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* about start */
/* .intro {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
} */

.intro p {
    color: var(--secondary-color);
    line-height: 1.2;
    width: 90%;
    font-size: 24px;
    text-align: left;
    padding: 30px 10px 20px 10px;
}
/* about end */

/* work/grid start */
/* .github-work{
    background: var(--secondary-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
} */

.work-grid-wrapper {
    display: flex;
    justify-content: left;
    padding: 30px;
}

.work-grid-wrapper h2 {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

.work-grid-wrapper h3 {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: light;
}

.work-grid-container {
    background: var(--tertiary-color);
    width: 620px;
    height: 410px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 200px);
    color: var(--primary-color);
    font-size: 1.2rem;
    column-gap: 10px;
    row-gap: 10px;
}

.work-grid-item {
    border: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

.work-grid-item h2, h3 {
    background: var(--secondary-color);
    width: 100%;
    margin-top: auto;
    text-align: center;
    flex-wrap: nowrap;
}

.run-buddy {
    grid-row: 1/ span 2;
    grid-column: 1/ span 2;
    overflow: hidden;
    display: flex;
    position: relative;
}

.run-buddy h2 {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 200px;
    padding-top: 10px;
}

.run-buddy h3 {
    position: absolute;
    background-color: var(--primary-color);
    padding-bottom: 10px;
    padding-top: 5px;
    color: var(--secondary-color);
    margin-top: 270px;
    font-weight: lighter;
}
 
.image-1 img {
    height: 100%;
    width: 100%;
    margin-top: 1475px;
    opacity: 0.4;
}

.horiseon {
    grid-row: 1/ span 1;
    grid-column: 3/ span 1;
    overflow: hidden;
    display: flex;
    position: relative;
}

.horiseon h2 {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 100px;
    padding-top: 5px;
    font-size: 16px;
}

.horiseon h3 {
    position: absolute;
    background-color: var(--primary-color);
    padding-bottom: 5px;
    padding-top: 5px;
    color: var(--secondary-color);
    margin-top: 145px;
    font-weight: lighter;
    font-size: 12px;
}

.image-2 img {
    height: 100%;
    width: 100%;
    margin-top: 275px;
    opacity: 0.4;
}

.filler-1 {
    grid-row: 2/ span 1;
    grid-column: 3/ span 1;
    background: var(--secondary-color);
}

.filler-1 h2{
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 16px;
    margin-top: 125px;
    text-align: center;
    padding: 5px;
}
/* work/grid end */

/* contact start */
/* .contact-info {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
} */

.contact-info a {
    color: var(--secondary-color);
    margin: 20px 0;
    line-height: 1.5;
    font-size: 24px;
    font-style: normal;
    padding: 10px 15px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 20px;
}

.contact-info a:hover {
    border-bottom: 2.5px solid var(--primary-color);
}
/* contact end */

/* media query for smaller desktop screens and smaller */

/* media query for tablets and smaller */

/* media query for mobile phones and smaller */
